* {
    box-sizing: border-box;
}

body {
    background-color: dodgerblue;
    margin: 0;
    padding: 0;


}

.title {
    background-color: deeppink;
    width: 100%;
    height: 100px;
}

.img {
    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    background-color: deepskyblue;
    width: 500px;

}

.left-arrow {
    top: 40%;
    left: 3%;
    position: absolute;
}

.right-arrow {
    right: 3%;
    top: 40%;
    position: absolute;
}